<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>infoLeaveYourMsgOrQuestionHere</key>
	<string>請留下您的問題，我們會盡快回覆</string>
	<key>warnLoginFBFirst</key>
	<string>請先登入Facebook</string>
	<key>titleMsgBoard</key>
	<string>留言版</string>
	<key>actionAddFavoriteSuccessfully</key>
	<string>新增最愛成功</string>
	<key>actionZoomOut</key>
	<string>Zoom Out</string>
	<key>titleWhosFavoriteVideos</key>
	<string>列愛的影片</string>
	<key>titleChatRoom</key>
	<string>聊天室</string>
	<key>error_network_connection</key>
	<string>網路連線問題</string>
	<key>actionJoin</key>
	<string>加入</string>
	<key>actionInviteFriend</key>
	<string>邀請朋友</string>
	<key>warnAreYouSoreRemoveFavoriteMainCategory</key>
	<string>確定要刪除這個最愛的主目錄嗎</string>
	<key>warnEmptyText</key>
	<string>請填入訊息</string>
	<key>actionCheckOutWeWorkApp</key>
	<string>HI 快來使用 WeWork App 吧</string>
	<key>titleVideo</key>
	<string>影片</string>
	<key>actionSplit</key>
	<string>分開</string>
	<key>onLine</key>
	<string>線上</string>
	<key>warn</key>
	<string>警告</string>
	<key>titleFavoriteCategory</key>
	<string>最愛的主目錄</string>
	<key>say</key>
	<string>說:</string>
	<key>byDate</key>
	<string>依日期</string>
	<key>warnNoFBAccountFound</key>
	<string>Facebook帳號未登入</string>
	<key>titleSubCategories</key>
	<string>次目錄</string>
	<key>warnConnectFBFirst</key>
	<string>請先登入Facebook</string>
	<key>actionFbAuthOkYouCanDoItAgain</key>
	<string>Facebook 登入成功了，請再次操作</string>
	<key>actionMsg</key>
	<string>留言</string>
	<key>infoNoData</key>
	<string>無資料</string>
	<key>actionBack</key>
	<string>回去</string>
	<key>actionRemoveFavorite</key>
	<string>移除最愛</string>
	<key>sort</key>
	<string>排序:</string>
	<key>warnAreYouSoreRemoveFavoriteVideo</key>
	<string>確定要刪除最愛影片</string>
	<key>actionDimiss</key>
	<string>Dimiss</string>
	<key>actionSearch</key>
	<string>查尋</string>
	<key>infoRestorePurchasedProductsComplete</key>
	<string>購買過的商品已回覆了</string>
	<key>noSort</key>
	<string>無排序</string>
	<key>actionLeave</key>
	<string>離開</string>
	<key>infoConnectFBFirst</key>
	<string>請先登入Facebook</string>
	<key>infoJoinRoomFirst</key>
	<string>請先登入聊天室</string>
	<key>info</key>
	<string>資訊</string>
	<key>error</key>
	<string>錯誤</string>
	<key>sum</key>
	<string>Sum</string>
	<key>byName</key>
	<string>依名稱</string>
	<key>actionTalk</key>
	<string>發話</string>
	<key>titleFriendsFavoriteVideos</key>
	<string>朋友最愛的影片</string>
	<key>intoBuyUnlockKeyFirst</key>
	<string>你可以購買key來新增目錄或影片為自已的最愛</string>
	<key>warnAreYouSore</key>
	<string>確定碼</string>
	<key>actionFull</key>
	<string>全畫面</string>
	<key>actionAddFavorite</key>
	<string>新增最愛</string>
	<key>error_parse_fail</key>
	<string>解析錯誤</string>
	<key>actionOK</key>
	<string>OK</string>
	<key>actionRemoveFavoriteSuccessfully</key>
	<string>成功移除最愛</string>
	<key>actionZoomIn</key>
	<string>Zoom In</string>
	<key>titleFavoriteVideos</key>
	<string>最愛的影片</string>
	<key>titleMainCategories</key>
	<string>主目前</string>
	<key>actionCancel</key>
	<string>取消</string>
	<key>titleVideos</key>
	<string>影片</string>
	<key>actionChange</key>
	<string>變更</string>
	<key>actionAdd</key>
	<string>新增</string>
	<key>actionEdit</key>
	<string>編輯</string>
	<key>actionDone</key>
	<string>完成</string>
	<key>titleInvite</key>
	<string>邀請</string>
	<key>warnPleaseAddMsgOrGratiffi</key>
	<string>請留話或塗鴉</string>
	<key>warnPleaseJoinSubjectFirst</key>
	<string>請先選擇一個主題</string>
	<key>titleMySubject</key>
	<string>我的</string>
	<key>titleFriendInvite</key>
	<string>朋友的</string>
	<key>units</key>
	<string>顆</string>
	<key>titleTags</key>
	<string>標籤</string>
	<key>titleChangeSubjectName</key>
	<string>變更主題名稱</string>
	<key>titleWhatIsYourSubjectName</key>
	<string>你的主題名稱是?</string>
	<key>titleWhatIsYourTagName</key>
	<string>你的標籤名稱是?</string>
	<key>titleChatAndGraffiti</key>
	<string>討論與塗鴉</string>
	<key>titleCategory</key>
	<string>目錄</string>
	<key>titleFriends</key>
	<string>朋友</string>
	<key>titleService</key>
	<string>服務</string>
	<key>titleEditTag</key>
	<string>編輯標籤</string>
	<key>titleAddTag</key>
	<string>新增你所屬的標籤</string>
	<key>intoBuyPoints</key>
	<string>您可以一次購買50單位的煙火量，與朋友一同分享放煙火的喜悅</string>
</dict>
</plist>
